.active-pink-4 input[type="text"]:focus:not([readonly]) {
  border: 1px solid orange;
  box-shadow: 0 0 0 1px orange;
}
.active-pink-3 input[type="text"] {
  border: 1px solid orange;
  box-shadow: 0 0 0 1px orange;
}
