.card.card-ecommerce .card-footer a.cart:hover {
  color: teal;
  transition: 0.4s;
}

.store-name {
  position: absolute;
  top: 1rem;
  z-index: 1;
  background: rgba(219, 219, 219, 0.5);
  padding: 4px 12px 4px 8px;
  border-radius: 0px 3px 3px 0px;
}
